PORT=4000
MONGO_URI=your_mongodb_connection_string
PORTFOLIO_URL=https://your-frontend-project.vercel.app
DASHBOARD_URL=https://your-dashboard-project.vercel.app
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name
CLOUDINARY_API_SECRET=your_cloudinary_api_secret
JWT_SECRET_KEY=your_jwt_secret
JWT_EXPIRES=10d
COOKIE_EXPIRES=10
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_SERVICE=gmail
SMTP_MAIL=your_email@gmail.com
SMTP_PASSWORD=your_app_password
